<h1>Gracias para tu consulta</h1>

<p>
  Hola Sr. / Sra.
</p>

<p>
  Hemos recibido su formulario de contacto. Nos pondremos en contacto con usted tan pronto como sea posible.
</p>

<p>
  Saludos cordiales,
</p>

<p>
  RGM Ibiza Metal
</p>
