.service-cat {
  display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;
}

#aniversary_1 {
  display: none;
}

#aniversary_2 {
  display: none;
}

@media (min-width: 991px) {
  #aniversary_1 {
    display: block;
    position: absolute;
    top: 11rem;
    right: 16.5rem;
  }

  #aniversary_2 {
    display: block;
    position: absolute;
    top: 16rem;
    right: 16.5rem;
  }
}
