.service-cat {
  display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;
}

#aniversary_1 {
  position: absolute;
  top: 10rem;
  right: 16.5rem;
}

#aniversary_2 {
  position: absolute;
  top: 15rem;
  right: 16.5rem;
}
