<section class=" s-py-60 s-pt-lg-75 s-pb-lg-100 ds about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block divider-30"></div>
      <div class="col-lg-8 offset-lg-2">
        <div class="main-content text-center">
          <h2>
            Bienvenido a
            <mark>RGM Ibiza Metal</mark>
          </h2>
          <p>
            Nuestro equipo humano está dirigido y asesorado por un  experto en fabricación y uso de los materiales tanto hierro, acero inox como aluminio. <br>
            <i>"Le avala una experiencia y profesionalidad de más de 45 años."</i>
          </p>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block divider-10"></div>
  </div>
</section>
