<section class=" s-py-60 s-pt-lg-75 s-pb-lg-100 ds about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block divider-30"></div>
      <div class="col-lg-8 offset-lg-2">
        <div class="main-content text-center">
          <h2>
            Welcome to
            <mark>Ferrum!</mark>
          </h2>
          <p>
            We’re an architectural metal company that makes and installs building facades, decorative exteriors, custom railing, and really anything architectural you can imagine with metal.
          </p>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block divider-10"></div>
  </div>
</section>
