<section class="page_title ds s-pt-100 s-pb-50 s-pt-md-75 s-pb-md-25 breadcrumbs">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-90"></div>

      <div class="col-md-12 text-center">
        <%= cl_image_tag "logo-rgm_o34ajj", width: 400, height: 400 %>
      </div>

      <div class="d-none d-lg-block divider-15"></div>

    </div>
  </div>
</section>
