<section class="ds s-pt-60 s-pb-50 s-py-lg-100 contact-form main-from s-parallax" id="contacts">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block divider-5"></div>
      <div class="col-12 text-center">
        <h2 class="header-section">Presupuesto sin compromiso</h2>
      </div>
    </div>
    <form class="contact-form c-mb-10 c-mb-md-30 c-gutter-30" method="post" action="/">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group has-placeholder">
            <label for="name">Nombre completo
              <span class="required">*</span>
            </label>
            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Nombre completo">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group has-placeholder">
            <label for="email">Correo electrónico
              <span class="required">*</span>
            </label>
            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Correo electrónico">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group has-placeholder">
            <label for="phone">Tel.
              <span class="required">*</span>
            </label>
            <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control text-center" placeholder="Tel.">
          </div>
        </div>
        <div class="col-sm-12">

          <div class="form-group has-placeholder">
            <label for="message">Mensaje</label>
            <textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control text-center" placeholder="Mensaje"></textarea>
          </div>
        </div>
      </div>
      <div class="row c-mt-20 c-mt-md-0">
        <div class="col-sm-12">
          <div class="form-group text-center">
            <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-outline-maincolor">Enviar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="divider-15"></div>
  </div>
</section>
