<div class="col-xl-6 col-sm-6 estructuras">

  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "santiago-steinkamp-t1zo-_yx5c0-unsplash_lhzfjn", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/w_1920,h_1080,c_fill/santiago-steinkamp-t1zo-_yx5c0-unsplash_lhzfjn.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Soldadura con electrodo
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Estructuras metálicas</p>
      <p></p>

    </div>
  </div>
</div>

<div class="col-xl-6 col-sm-6 estructuras">
  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "spencer-davis-yxP-M0JFDTM-unsplash_bfumvw", width: 300, height: 300, gravity: "south", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/w_1920,h_1080,c_fill,g_south/spencer-davis-yxP-M0JFDTM-unsplash_bfumvw.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        <a href="gallery-single.html"></a>
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Estructuras metálicas</p>
      <p></p>

    </div>
  </div>
</div>
