<div class="col-xl-6 col-sm-6 barandillas">

  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "barandilla_escalera_cristal_w8wutb", width: 300, height: 300, gravity: "center", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/w_1920,h_1080,c_fill,g_south_east/barandilla_escalera_cristal_w8wutb.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Barandillas</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>

    </div>
  </div>
</div>
<div class="col-xl-6 col-sm-6 barandillas">

  <div class="vertical-item text-center gallery-padding hero-bg">
    <div class="item-media">
      <%= cl_image_tag "tusik-only-CQGZ9jA1s7Q-unsplash_oifsga", width: 300, height: 300, gravity: "auto", crop: "fill" %>
      <div class="media-links">
        <div class="links-wrap">
          <a class="link-zoom photoswipe-link" title="" href="https://res.cloudinary.com/rgm-ibiza-metal/image/upload/w_1920,h_1080,c_fill,g_south/tusik-only-CQGZ9jA1s7Q-unsplash_oifsga.jpg"></a>
        </div>
      </div>
    </div>
    <div class="item-content">
      <h3 class="gallery-title">
        Lorem ipsum dolor sit
      </h3>
      <p style="display: inline-block;line-height: 1;font-size: 1rem;text-transform: uppercase;font-weight: 500;letter-spacing: 0.2em;margin: 8px 4px 0 0;color: #f9a34f;">Barandillas</p>
      <p>A atque deleniti dolorum, labore maiores neque quae quidem ratione vel. Ad aspernatur facere iste!</p>

    </div>
  </div>
</div>
