<section class="page_slider">
  <div class="flexslider">
    <ul class="slides">
      <li class="ds ms text-center">
        <%= image_tag "slide01.jpg", alt: "alttext" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h3 class="intro_before_featured_word">
                      We build the things that architects dream up
                    </h3>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word">
                      Craftsmanship
                    </h2>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word after_featured">
                      built to scale
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
      <li class="ds ms text-center">
        <%= image_tag "slide02.jpg", alt: "alttext" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="pullDown">
                    <h3 class="intro_before_featured_word">
                      Metal Fabrication in San Diego!
                    </h3>
                  </div>
                  <div class="intro_layer" data-animation="pullUp">
                    <h2 class="text-uppercase intro_featured_word">
                      Dream it!
                    </h2>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word after_featured">
                      We can build!
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>

      <li class="ds ms text-center">
        <%= image_tag "slide03.jpg", alt: "alttext" %>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h3 class="intro_before_featured_word">
                      Welding & Fabrication Shop
                    </h3>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word">
                      We complete
                    </h2>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase intro_featured_word after_featured">
                      projects in Time
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>
