<section class="page_slider">
  <div class="flexslider">
    <ul class="slides">
      <li class="ds ms text-center">
        <%= cl_image_tag "cutting-steel", width: 800, height: 1200, gravity: "east", crop: "crop", class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="fadeInUp">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="25rem" height="" viewBox="0 0 2480.000000 1231.000000"
                     preserveAspectRatio="xMidYMid meet">
                      <metadata>
                      Created by potrace 1.16, written by Peter Selinger 2001-2019
                      </metadata>
                      <g transform="translate(0.000000,1231.000000) scale(0.100000,-0.100000)"
                      fill="#fff" stroke="none">
                        <path d="M1500 11328 l0 -363 1108 -461 1107 -461 3 -2742 c1 -1507 -1 -2741
                        -5 -2741 -15 0 -2168 -281 -2190 -286 l-23 -4 0 -315 0 -315 3608 2 3607 3
                        1845 708 1845 707 1830 -701 c1006 -386 1834 -705 1840 -710 5 -5 1512 -9
                        3617 -9 l3608 0 0 318 0 317 -1078 139 c-592 76 -1092 141 -1110 144 l-32 5 2
                        2741 3 2741 1105 461 1105 460 3 362 2 362 -3607 0 -3608 0 -1825 -2211
                        c-1004 -1215 -1834 -2222 -1846 -2236 l-20 -26 -1820 2209 c-1001 1215 -1829
                        2221 -1839 2236 l-20 27 -3607 1 -3608 0 0 -362z m14580 -17 l0 -280 -1626
                        -1703 c-895 -937 -1660 -1737 -1701 -1778 -56 -55 -25 -14 118 160 572 695
                        3203 3880 3206 3880 2 0 3 -126 3 -279z m-5719 -1711 c876 -1064 1613 -1960
                        1638 -1990 l45 -55 -62 60 c-33 33 -781 814 -1661 1735 l-1601 1675 0 280 0
                        280 24 -25 c13 -14 740 -896 1617 -1960z m-6641 935 l0 -435 -22 9 c-29 11
                        -1933 804 -2008 837 l-55 23 1043 1 1042 0 0 -435z m19429 431 c-3 -3 -1677
                        -703 -2036 -852 l-33 -13 0 435 0 434 1037 0 c570 0 1034 -2 1032 -4z m-13932
                        -1948 l2542 -1823 -2 -909 -2 -909 -2580 -533 c-1419 -293 -2588 -533 -2597
                        -533 -17 -1 -18 163 -18 3305 l0 3306 58 -41 c31 -23 1201 -861 2599 -1863z
                        m9023 -1403 c0 -1860 -4 -3305 -9 -3305 -8 0 -5132 1054 -5178 1065 l-23 5 0
                        904 0 904 2598 1865 c1428 1026 2600 1865 2605 1866 4 1 7 -1486 7 -3304z
                        m-5260 -1340 l0 -885 -585 0 -585 0 0 885 0 885 585 0 585 0 0 -885z m-680
                        -945 c-14 -5 -835 -246 -1826 -535 l-1801 -525 -998 2 -999 3 2569 531 2570
                        532 255 0 c157 0 245 -3 230 -8z m3243 -522 l2588 -533 -1005 -3 -1004 -2
                        -1829 534 -1828 535 245 1 245 0 2588 -532z m-3170 301 c-4 -4 -820 -318
                        -1813 -697 -993 -380 -1813 -693 -1822 -697 -17 -7 -18 9 -18 254 l0 261 23 5
                        c12 4 834 243 1827 534 l1805 527 3 -90 c1 -49 -1 -93 -5 -97z m1881 -349
                        c998 -291 1817 -530 1820 -530 3 0 6 -117 6 -260 0 -143 -1 -260 -2 -260 -2 0
                        -822 314 -1823 698 l-1820 697 -3 93 c-1 50 0 92 3 92 3 0 822 -238 1819 -530z
                        m-10534 -370 l0 -120 -897 1 c-494 1 -887 4 -873 6 32 5 1741 231 1758 232 9
                        1 12 -29 12 -119z m18280 0 c470 -61 864 -112 875 -114 11 -2 -388 -4 -887 -5
                        l-908 -1 0 120 0 121 33 -6 c17 -3 417 -55 887 -115z"/>
                        <path d="M4150 2736 c-240 -45 -438 -182 -494 -343 -31 -87 -38 -195 -43 -643
                        -5 -479 4 -723 32 -818 40 -132 139 -244 278 -312 101 -49 176 -69 287 -77
                        166 -11 303 32 400 125 l52 50 17 -42 c10 -22 21 -51 25 -63 7 -23 8 -23 222
                        -23 l214 0 0 570 0 570 -390 0 -390 0 0 -165 0 -165 66 0 65 0 -3 -202 c-3
                        -232 -11 -260 -73 -277 -70 -19 -109 7 -125 84 -13 62 -9 1286 4 1323 10 26
                        54 52 90 52 14 0 38 -11 53 -24 l28 -24 3 -206 3 -206 336 0 336 0 -6 163 c-6
                        177 -30 299 -73 373 -53 93 -195 194 -341 243 -142 48 -418 65 -573 37z"/>
                        <path d="M1930 1650 l0 -1060 335 0 335 0 0 470 0 470 43 0 c23 0 58 -8 77
                        -18 55 -27 58 -52 59 -514 l1 -408 311 0 310 0 -3 432 c-3 424 -3 434 -25 474
                        -47 88 -98 130 -207 170 -34 13 -54 24 -46 27 8 3 38 11 65 17 161 40 215 145
                        215 417 0 325 -114 495 -367 548 -103 22 -398 35 -775 35 l-328 0 0 -1060z
                        m797 655 c45 -30 56 -76 51 -221 -3 -102 -7 -136 -21 -157 -18 -28 -69 -47
                        -124 -47 l-33 0 0 226 0 227 51 -6 c28 -4 63 -14 76 -22z"/>
                        <path d="M5380 1650 l0 -1060 295 0 295 0 2 625 3 625 104 -608 c58 -334 106
                        -615 109 -624 4 -16 23 -18 212 -18 189 0 208 2 212 17 3 10 49 298 104 641
                        l99 623 3 -640 2 -641 295 0 295 0 0 1060 0 1060 -434 0 -433 0 -16 -97 c-8
                        -54 -39 -259 -68 -455 -30 -197 -56 -354 -60 -350 -3 4 -36 187 -73 407 -37
                        220 -72 421 -77 448 l-11 47 -429 0 -429 0 0 -1060z"/>
                        <path d="M8210 1650 l0 -1060 335 0 335 0 0 1060 0 1060 -335 0 -335 0 0
                        -1060z"/>
                        <path d="M9120 1650 l0 -1060 533 0 c658 0 747 9 854 82 56 38 87 80 115 158
                        22 62 23 78 23 340 0 266 -1 277 -24 334 -40 101 -112 164 -231 201 -30 10
                        -59 20 -63 22 -5 3 24 16 64 30 149 50 189 100 210 261 18 147 -6 321 -58 429
                        -34 69 -118 147 -199 185 -131 62 -309 78 -846 78 l-378 0 0 -1060z m789 667
                        c24 -8 41 -24 55 -52 18 -35 21 -56 20 -165 -3 -190 -23 -220 -151 -220 l-43
                        0 0 225 0 225 43 -1 c23 0 57 -5 76 -12z m11 -800 c22 -7 40 -23 48 -41 19
                        -38 28 -290 14 -380 -16 -97 -36 -117 -139 -131 l-53 -7 0 286 0 286 48 -1
                        c26 0 63 -5 82 -12z"/>
                        <path d="M10870 1650 l0 -1060 335 0 335 0 0 1060 0 1060 -335 0 -335 0 0
                        -1060z"/>
                        <path d="M11730 2490 l0 -220 215 0 c118 0 215 -4 215 -9 0 -5 -110 -312 -245
                        -682 l-245 -674 0 -157 0 -158 610 0 610 0 0 215 0 215 -240 0 c-132 0 -240 2
                        -240 5 0 3 108 287 240 632 l240 626 -2 211 -3 211 -577 3 -578 2 0 -220z"/>
                        <path d="M13121 1663 c-90 -577 -166 -1054 -169 -1061 -3 -10 67 -12 344 -10
                        l349 3 17 165 c9 91 17 173 17 183 1 15 13 17 111 17 61 0 110 -1 110 -2 0 -2
                        7 -77 15 -168 8 -91 15 -173 15 -182 0 -17 23 -18 340 -18 320 0 340 1 340 18
                        0 16 -353 2028 -365 2080 l-5 22 -478 0 -477 0 -164 -1047z m694 231 c26 -243
                        51 -453 61 -511 l6 -33 -101 0 -101 0 0 33 c1 64 99 761 106 754 2 -2 15 -111
                        29 -243z"/>
                        <path d="M15260 1650 l0 -1060 295 0 295 0 2 625 3 625 104 -608 c58 -334 106
                        -615 109 -624 4 -16 23 -18 212 -18 189 0 208 2 212 17 3 10 49 298 104 641
                        l99 623 3 -640 2 -641 295 0 295 0 0 1060 0 1060 -434 0 -433 0 -16 -97 c-8
                        -54 -39 -259 -68 -455 -30 -197 -56 -354 -60 -350 -3 4 -36 187 -73 407 -37
                        220 -72 421 -77 448 l-11 47 -429 0 -429 0 0 -1060z"/>
                        <path d="M17540 1650 l0 -1060 575 0 575 0 0 215 0 215 -240 0 -240 0 0 225 0
                        225 205 0 205 0 0 210 0 210 -205 0 -205 0 0 190 0 190 215 0 215 0 0 220 0
                        220 -550 0 -550 0 0 -1060z"/>
                        <path d="M18700 2490 l0 -220 195 0 195 0 0 -840 0 -840 330 0 330 0 0 840 0
                        840 195 0 195 0 0 220 0 220 -720 0 -720 0 0 -220z"/>
                        <path d="M20161 1663 c-90 -577 -166 -1054 -169 -1061 -3 -10 67 -12 344 -10
                        l349 3 17 165 c9 91 17 173 17 183 1 15 13 17 111 17 61 0 110 -1 110 -2 0 -2
                        7 -77 15 -168 8 -91 15 -173 15 -182 0 -17 23 -18 340 -18 320 0 340 1 340 18
                        0 16 -353 2028 -365 2080 l-5 22 -478 0 -477 0 -164 -1047z m694 231 c26 -243
                        51 -453 61 -511 l6 -33 -101 0 -101 0 0 33 c1 64 99 761 106 754 2 -2 15 -111
                        29 -243z"/>
                        <path d="M21750 1650 l0 -1060 530 0 530 0 0 215 0 215 -195 0 -195 0 0 845 0
                        845 -335 0 -335 0 0 -1060z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <ul id="intro-list">
                      <li>
                        <p>
                          Estructuras metálicas
                        </p>
                      </li>
                      <li>
                        <p>
                          Soldadores homologados ISO 9606-1
                        </p>
                      </li>
                      <li>
                        <p>
                          Acero inox
                        </p>
                      </li>
                      <li>
                        <p>
                          Aluminio
                        </p>
                      </li>
                      <li>
                        <p>
                          Acristalamientos
                        </p>
                      </li>
                      <li>
                        <p>
                          Hierro
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div id="aniversary_1" class="intro_layer intro_div" data-animation="fadeInUp">
                    <svg width="150px" viewBox="0 0 200 180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                     <!-- Generated by Pixelmator Pro 2.1.1 -->
                     <g id="group">
                      <path id="Path" d="M124.376 173.964 C171.297 160.305 198.261 111.197 184.604 64.278 170.946 17.358 121.84 -9.608 74.919 4.05 27.999 17.707 1.033 66.815 14.69 113.734 28.346 160.655 77.454 187.62 124.376 173.964" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-1" d="M129.828 165.533 C167.797 150.61 189.307 109.709 179.605 69.69" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-2" d="M176.173 58.826 C161.249 20.856 120.349 -0.654 80.33 9.047" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-3" d="M69.466 12.48 C31.497 27.404 9.987 68.304 19.688 108.323" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-4" d="M23.12 119.186 C38.043 157.156 78.944 178.665 118.963 168.965" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                     </g>
                     <path id="Path-5" d="M90.293 22.845 L83.011 31.853 72.032 28.16 67.583 38.853 56.008 38.404 54.752 49.918 43.52 52.748 45.559 64.151 35.578 70.03 40.747 80.396 32.827 88.849 40.708 97.339 35.49 107.68 45.442 113.606 43.35 124.999 54.569 127.881 55.77 139.401 67.346 139.006 71.745 149.721 82.743 146.079 89.981 155.122 99.506 148.532 109 155.167 116.282 146.158 127.261 149.852 131.71 139.158 143.285 139.608 144.541 128.093 155.774 125.264 153.734 113.861 163.715 107.981 158.545 97.616 166.466 89.164 158.586 80.673 163.803 70.332 153.851 64.405 155.944 53.014 144.724 50.131 143.524 38.611 131.946 39.006 127.548 28.291 116.551 31.932 109.312 22.89 99.786 29.481 Z" fill="#f2ebb8" fill-opacity="1" stroke="none"/>
                     <g id="group-1">
                      <path id="Path-6" d="M112.69 133.818 C137.44 126.615 151.663 100.712 144.459 75.962 137.255 51.213 111.353 36.99 86.603 44.193 61.855 51.397 47.631 77.3 54.835 102.05 62.039 126.798 87.942 141.022 112.69 133.818" fill="#526672" fill-opacity="1" stroke="none"/>
                     </g>
                     <g id="group-2">
                      <path id="Path-7" d="M21.806 141.299 L5.902 86.651 177.531 36.7 193.436 91.348 Z" fill="#f2ebb8" fill-opacity="1" stroke="none"/>
                      <path id="Path-8" d="M21.806 141.299 L5.902 86.651 177.531 36.7 193.436 91.348 Z" fill="none" stroke="#526672" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                     </g>
                     <g id="group-3">
                      <path id="Path-9" d="M173.942 91.304 C172.673 132.336 138.381 164.57 97.35 163.301 56.318 162.032 24.084 127.741 25.353 86.709 26.622 45.677 60.913 13.443 101.945 14.712 142.976 15.981 175.211 50.272 173.942 91.304 Z" fill="none" stroke="#f2ebb8" stroke-width="2.766" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-10" d="M78.999 106.069 C79.553 107.974 79.797 109.232 79.732 109.84 79.666 110.448 79.273 110.858 78.553 111.068 77.833 111.277 77.298 111.182 76.946 110.781 76.595 110.38 76.091 109.051 75.435 106.795 L69.915 87.832 C69.333 85.832 69.077 84.522 69.149 83.902 69.22 83.283 69.616 82.868 70.336 82.659 71.072 82.446 71.616 82.569 71.968 83.03 72.319 83.492 72.795 84.755 73.395 86.819 Z M81.726 80.957 C81.039 79.7 80.124 78.655 78.98 77.824 77.835 76.996 76.315 76.452 74.418 76.199 72.521 75.943 70.508 76.126 68.38 76.744 65.772 77.503 63.708 78.686 62.188 80.29 60.667 81.895 59.858 83.677 59.758 85.632 59.66 87.588 60.13 90.351 61.168 93.917 L65.116 107.48 C65.912 110.217 66.685 112.157 67.435 113.301 68.185 114.446 69.181 115.453 70.424 116.324 71.666 117.195 73.134 117.675 74.826 117.763 76.518 117.852 78.524 117.56 80.844 116.885 82.605 116.372 84.122 115.652 85.398 114.726 86.673 113.798 87.645 112.606 88.312 111.143 88.981 109.683 89.279 108.233 89.208 106.795 89.137 105.357 88.673 103.167 87.816 100.223 L84.043 87.261 C83.186 84.316 82.414 82.215 81.726 80.957 M31.32 88.338 L36.614 108.042 46.215 105.248 C45.884 104.112 45.717 103.375 45.714 103.038 45.711 102.701 45.822 102.352 46.047 101.99 46.271 101.63 46.608 101.384 47.056 101.254 47.76 101.047 48.342 101.165 48.799 101.606 49.257 102.045 49.698 102.993 50.122 104.449 L52.364 112.154 C53.12 114.868 53.536 116.405 53.615 116.763 53.693 117.122 53.629 117.497 53.421 117.886 53.213 118.277 52.87 118.542 52.39 118.682 51.349 118.985 50.588 118.633 50.105 117.629 49.621 116.624 49.014 114.865 48.282 112.353 L47.577 109.929 37.88 112.751 38.495 114.865 C39.547 118.481 40.725 121.037 42.028 122.532 43.331 124.027 45.062 124.934 47.22 125.251 49.378 125.569 51.705 125.366 54.201 124.64 56.425 123.991 58.225 123.151 59.6 122.117 60.973 121.083 61.933 119.894 62.478 118.546 63.023 117.199 63.24 115.842 63.129 114.476 63.019 113.112 62.562 111.053 61.762 108.301 L60.147 102.755 C58.908 98.499 57.387 95.823 55.583 94.724 53.779 93.626 51.541 93.466 48.869 94.243 46.501 94.934 44.823 96.385 43.836 98.6 L41.915 91.998 53.94 88.498 52.131 82.282 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-11" d="M157.712 58.935 C157.205 57.193 156.677 56.01 156.129 55.381 155.58 54.754 154.713 54.353 153.532 54.177 152.35 54.003 151.021 54.131 149.541 54.561 148.188 54.957 147.097 55.51 146.267 56.227 145.438 56.942 144.922 57.75 144.72 58.651 144.517 59.552 144.66 60.84 145.149 62.519 145.487 63.682 145.917 64.596 146.437 65.255 146.956 65.917 147.509 66.392 148.092 66.682 148.676 66.972 149.812 67.38 151.501 67.906 153.187 68.423 154.269 68.827 154.746 69.118 155.213 69.413 155.635 70.206 156.009 71.496 156.179 72.083 156.216 72.551 156.118 72.901 156.019 73.254 155.782 73.484 155.403 73.595 155.023 73.705 154.725 73.666 154.509 73.473 154.291 73.282 154.063 72.776 153.825 71.955 L153.05 69.289 147.759 70.829 148.177 72.264 C148.654 73.905 149.191 75.124 149.786 75.919 150.377 76.715 151.298 77.244 152.545 77.508 153.79 77.773 155.176 77.683 156.7 77.239 158.089 76.835 159.235 76.23 160.135 75.425 161.037 74.619 161.561 73.794 161.711 72.947 161.861 72.102 161.71 70.898 161.256 69.338 160.632 67.191 159.848 65.73 158.91 64.957 157.971 64.184 156.013 63.414 153.039 62.646 152.004 62.381 151.337 62.089 151.04 61.774 150.736 61.463 150.476 60.941 150.263 60.209 150.098 59.641 150.064 59.191 150.158 58.859 150.252 58.528 150.47 58.312 150.813 58.213 151.128 58.12 151.385 58.159 151.581 58.327 151.775 58.495 151.984 58.958 152.205 59.716 L152.677 61.339 157.968 59.8 Z M137.373 75.628 C137.749 76.918 137.932 77.751 137.923 78.124 137.915 78.499 137.717 78.742 137.33 78.855 136.95 78.966 136.666 78.887 136.476 78.62 136.285 78.352 136.005 77.583 135.635 76.311 L132.658 66.081 C132.33 64.953 132.21 64.252 132.301 63.976 132.392 63.7 132.587 63.519 132.885 63.432 133.236 63.331 133.509 63.404 133.704 63.655 133.899 63.906 134.147 64.542 134.443 65.561 Z M141.143 67.353 C140.486 65.098 139.974 63.536 139.602 62.664 139.231 61.793 138.651 61.058 137.858 60.456 137.065 59.855 136.148 59.5 135.103 59.387 134.058 59.276 132.95 59.39 131.776 59.732 130.54 60.091 129.517 60.609 128.706 61.286 127.895 61.962 127.327 62.759 127.001 63.675 126.676 64.591 126.594 65.522 126.758 66.469 126.921 67.413 127.322 68.987 127.963 71.188 L129.055 74.937 C129.712 77.192 130.225 78.755 130.596 79.626 130.966 80.497 131.548 81.232 132.34 81.834 133.131 82.434 134.049 82.791 135.095 82.903 136.14 83.015 137.249 82.9 138.42 82.558 139.657 82.199 140.679 81.68 141.49 81.004 142.302 80.329 142.87 79.531 143.196 78.616 143.52 77.699 143.601 76.768 143.439 75.822 143.276 74.875 142.873 73.303 142.232 71.1 Z M115.62 59.709 C115.614 60.592 115.235 61.141 114.487 61.36 114.234 61.433 113.719 61.441 112.939 61.384 L112.011 61.317 C111.16 61.251 110.41 61.313 109.762 61.502 108.517 61.864 107.653 63.063 107.171 65.097 L109.731 65.9 C109.901 64.873 110.319 64.262 110.986 64.067 111.301 63.975 111.818 63.968 112.534 64.043 L113.649 64.143 C114.473 64.226 115.207 64.174 115.846 63.987 116.308 63.854 116.785 63.518 117.284 62.98 117.783 62.442 118.106 61.657 118.255 60.622 Z M115.094 65.087 L117.966 74.951 111.902 66.016 107.138 67.403 113.514 89.309 118.277 87.924 115.378 77.965 121.242 87.061 126.233 85.608 119.858 63.701 Z M98.692 85.139 C98.276 83.157 97.748 79.984 97.108 75.62 98.461 79.188 99.642 82.172 100.654 84.569 Z M91.339 72.002 L94.809 94.755 100.699 93.04 99.895 89.003 101.933 88.41 103.384 92.26 109.207 90.565 99.573 69.606 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-12" d="M161.518 89.131 C161.31 88.14 161.045 86.553 160.726 84.372 161.402 86.156 161.994 87.647 162.498 88.846 Z M157.841 82.562 L159.576 93.937 162.521 93.081 162.119 91.063 163.138 90.766 163.864 92.689 166.775 91.842 161.958 81.363 Z M153.043 83.959 L156.231 94.912 159.078 94.083 155.89 83.129 Z M153.105 87.984 C152.809 86.962 152.504 86.235 152.191 85.8 151.879 85.365 151.402 85.066 150.762 84.901 150.122 84.735 149.383 84.775 148.544 85.02 147.926 85.198 147.41 85.463 146.995 85.812 146.58 86.159 146.291 86.556 146.129 86.999 145.969 87.443 145.917 87.869 145.979 88.28 146.038 88.69 146.184 89.29 146.413 90.08 L147.345 93.28 C147.659 94.352 147.979 95.131 148.311 95.615 148.642 96.098 149.123 96.411 149.752 96.556 150.383 96.7 151.112 96.652 151.947 96.409 152.75 96.174 153.374 95.801 153.818 95.284 154.262 94.767 154.495 94.248 154.516 93.728 154.54 93.207 154.384 92.379 154.054 91.245 L153.93 90.818 151.083 91.648 151.484 93.024 C151.657 93.626 151.736 94.017 151.719 94.199 151.7 94.381 151.586 94.503 151.374 94.563 151.153 94.628 150.986 94.588 150.877 94.444 150.766 94.3 150.632 93.962 150.479 93.43 L148.997 88.342 C148.835 87.787 148.762 87.417 148.776 87.232 148.792 87.046 148.916 86.919 149.15 86.851 149.356 86.791 149.512 86.82 149.613 86.939 149.713 87.059 149.845 87.395 150.006 87.949 L150.56 89.853 153.408 89.024 Z M141.846 87.217 L143.281 92.15 140.248 87.683 137.867 88.376 141.056 99.329 143.437 98.636 141.987 93.657 144.917 98.205 147.414 97.477 144.226 86.523 Z M135.298 101.005 L140.238 99.567 139.599 97.375 137.51 97.984 136.808 95.575 138.589 95.057 137.981 92.973 136.202 93.492 135.597 91.415 137.498 90.861 136.861 88.67 132.111 90.052 Z M128.119 91.213 L131.305 102.167 134.153 101.338 130.966 90.383 Z M124.777 94.395 C124.932 94.468 125.059 94.677 125.161 95.024 L125.336 95.627 C125.476 96.11 125.496 96.413 125.392 96.538 125.288 96.664 125.077 96.773 124.757 96.866 L124.048 94.431 C124.378 94.335 124.621 94.323 124.777 94.395 M123.844 104.338 L126.691 103.509 125.254 98.57 C125.647 98.456 125.909 98.455 126.042 98.568 126.176 98.681 126.327 99.031 126.498 99.617 L127.557 103.257 130.202 102.485 129.361 99.598 C129.103 98.714 128.924 98.181 128.818 97.999 128.715 97.815 128.53 97.635 128.269 97.457 128.007 97.279 127.573 97.203 126.968 97.228 127.574 96.988 127.94 96.691 128.066 96.334 128.192 95.981 128.132 95.376 127.884 94.524 127.612 93.59 127.264 92.954 126.84 92.615 126.415 92.277 125.951 92.124 125.445 92.158 124.939 92.194 124.014 92.406 122.67 92.798 L120.654 93.385 Z M118.086 106.015 L123.025 104.578 122.388 102.385 120.297 102.994 119.597 100.586 121.377 100.067 120.77 97.984 118.99 98.502 118.386 96.424 120.287 95.871 119.648 93.679 114.899 95.061 Z M112.115 98.087 C112.267 98.166 112.395 98.392 112.505 98.767 L112.766 99.667 C112.884 100.073 112.913 100.356 112.848 100.514 112.783 100.672 112.62 100.789 112.359 100.865 112.299 100.882 112.229 100.9 112.146 100.92 L111.336 98.132 C111.706 98.024 111.967 98.008 112.115 98.087 M111.131 108.04 L113.978 107.21 112.695 102.799 113.459 102.577 C114.081 102.395 114.561 102.163 114.897 101.879 115.232 101.595 115.427 101.273 115.477 100.911 115.529 100.549 115.451 100.017 115.249 99.319 L114.971 98.366 C114.771 97.679 114.588 97.184 114.417 96.878 114.246 96.572 114.024 96.336 113.748 96.168 113.472 95.998 113.107 95.914 112.653 95.914 112.201 95.913 111.587 96.026 110.811 96.252 L107.942 97.087 Z M104.644 98.045 L104.905 101.213 C104.699 100.782 104.458 100.317 104.182 99.815 103.829 99.156 103.584 98.682 103.447 98.394 L100.693 99.196 103.136 103.738 103.88 110.15 106.654 109.342 106.402 107.479 C106.305 106.665 106.191 105.902 106.06 105.185 106.779 106.678 107.455 107.925 108.089 108.925 L110.727 108.157 107.44 102.487 107.031 97.352 Z M98.689 111.661 L103.628 110.223 102.991 108.03 100.9 108.64 100.2 106.23 101.979 105.714 101.372 103.63 99.593 104.147 98.989 102.069 100.89 101.517 100.251 99.325 95.503 100.706 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                     </g>
                    </svg>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
      <li class="ds ms text-center">
        <%= cl_image_tag "vahid-kanani-vgIpLzageWI-unsplash_suifwu", width: 1920, class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="pullUp">
                    <h2 class="text-uppercase intro_featured_word">
                      ¡Suéñalo!
                    </h2>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h3 class="">
                      ¡Nosotros lo podemos construir!
                    </h3>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>

      <li class="ds ms text-center">
        <%= cl_image_tag "kyle-levesque-TB-GyBM8Kpc-unsplash_d11fso", width: 1920, class: "background-slider" %>
        <div class="container intro-container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer intro_div intro_logo" data-animation="fadeInUp">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="25rem" height="" viewBox="0 0 2480.000000 1231.000000"
                     preserveAspectRatio="xMidYMid meet">
                      <metadata>
                      Created by potrace 1.16, written by Peter Selinger 2001-2019
                      </metadata>
                      <g transform="translate(0.000000,1231.000000) scale(0.100000,-0.100000)"
                      fill="#fff" stroke="none">
                        <path d="M1500 11328 l0 -363 1108 -461 1107 -461 3 -2742 c1 -1507 -1 -2741
                        -5 -2741 -15 0 -2168 -281 -2190 -286 l-23 -4 0 -315 0 -315 3608 2 3607 3
                        1845 708 1845 707 1830 -701 c1006 -386 1834 -705 1840 -710 5 -5 1512 -9
                        3617 -9 l3608 0 0 318 0 317 -1078 139 c-592 76 -1092 141 -1110 144 l-32 5 2
                        2741 3 2741 1105 461 1105 460 3 362 2 362 -3607 0 -3608 0 -1825 -2211
                        c-1004 -1215 -1834 -2222 -1846 -2236 l-20 -26 -1820 2209 c-1001 1215 -1829
                        2221 -1839 2236 l-20 27 -3607 1 -3608 0 0 -362z m14580 -17 l0 -280 -1626
                        -1703 c-895 -937 -1660 -1737 -1701 -1778 -56 -55 -25 -14 118 160 572 695
                        3203 3880 3206 3880 2 0 3 -126 3 -279z m-5719 -1711 c876 -1064 1613 -1960
                        1638 -1990 l45 -55 -62 60 c-33 33 -781 814 -1661 1735 l-1601 1675 0 280 0
                        280 24 -25 c13 -14 740 -896 1617 -1960z m-6641 935 l0 -435 -22 9 c-29 11
                        -1933 804 -2008 837 l-55 23 1043 1 1042 0 0 -435z m19429 431 c-3 -3 -1677
                        -703 -2036 -852 l-33 -13 0 435 0 434 1037 0 c570 0 1034 -2 1032 -4z m-13932
                        -1948 l2542 -1823 -2 -909 -2 -909 -2580 -533 c-1419 -293 -2588 -533 -2597
                        -533 -17 -1 -18 163 -18 3305 l0 3306 58 -41 c31 -23 1201 -861 2599 -1863z
                        m9023 -1403 c0 -1860 -4 -3305 -9 -3305 -8 0 -5132 1054 -5178 1065 l-23 5 0
                        904 0 904 2598 1865 c1428 1026 2600 1865 2605 1866 4 1 7 -1486 7 -3304z
                        m-5260 -1340 l0 -885 -585 0 -585 0 0 885 0 885 585 0 585 0 0 -885z m-680
                        -945 c-14 -5 -835 -246 -1826 -535 l-1801 -525 -998 2 -999 3 2569 531 2570
                        532 255 0 c157 0 245 -3 230 -8z m3243 -522 l2588 -533 -1005 -3 -1004 -2
                        -1829 534 -1828 535 245 1 245 0 2588 -532z m-3170 301 c-4 -4 -820 -318
                        -1813 -697 -993 -380 -1813 -693 -1822 -697 -17 -7 -18 9 -18 254 l0 261 23 5
                        c12 4 834 243 1827 534 l1805 527 3 -90 c1 -49 -1 -93 -5 -97z m1881 -349
                        c998 -291 1817 -530 1820 -530 3 0 6 -117 6 -260 0 -143 -1 -260 -2 -260 -2 0
                        -822 314 -1823 698 l-1820 697 -3 93 c-1 50 0 92 3 92 3 0 822 -238 1819 -530z
                        m-10534 -370 l0 -120 -897 1 c-494 1 -887 4 -873 6 32 5 1741 231 1758 232 9
                        1 12 -29 12 -119z m18280 0 c470 -61 864 -112 875 -114 11 -2 -388 -4 -887 -5
                        l-908 -1 0 120 0 121 33 -6 c17 -3 417 -55 887 -115z"/>
                        <path d="M4150 2736 c-240 -45 -438 -182 -494 -343 -31 -87 -38 -195 -43 -643
                        -5 -479 4 -723 32 -818 40 -132 139 -244 278 -312 101 -49 176 -69 287 -77
                        166 -11 303 32 400 125 l52 50 17 -42 c10 -22 21 -51 25 -63 7 -23 8 -23 222
                        -23 l214 0 0 570 0 570 -390 0 -390 0 0 -165 0 -165 66 0 65 0 -3 -202 c-3
                        -232 -11 -260 -73 -277 -70 -19 -109 7 -125 84 -13 62 -9 1286 4 1323 10 26
                        54 52 90 52 14 0 38 -11 53 -24 l28 -24 3 -206 3 -206 336 0 336 0 -6 163 c-6
                        177 -30 299 -73 373 -53 93 -195 194 -341 243 -142 48 -418 65 -573 37z"/>
                        <path d="M1930 1650 l0 -1060 335 0 335 0 0 470 0 470 43 0 c23 0 58 -8 77
                        -18 55 -27 58 -52 59 -514 l1 -408 311 0 310 0 -3 432 c-3 424 -3 434 -25 474
                        -47 88 -98 130 -207 170 -34 13 -54 24 -46 27 8 3 38 11 65 17 161 40 215 145
                        215 417 0 325 -114 495 -367 548 -103 22 -398 35 -775 35 l-328 0 0 -1060z
                        m797 655 c45 -30 56 -76 51 -221 -3 -102 -7 -136 -21 -157 -18 -28 -69 -47
                        -124 -47 l-33 0 0 226 0 227 51 -6 c28 -4 63 -14 76 -22z"/>
                        <path d="M5380 1650 l0 -1060 295 0 295 0 2 625 3 625 104 -608 c58 -334 106
                        -615 109 -624 4 -16 23 -18 212 -18 189 0 208 2 212 17 3 10 49 298 104 641
                        l99 623 3 -640 2 -641 295 0 295 0 0 1060 0 1060 -434 0 -433 0 -16 -97 c-8
                        -54 -39 -259 -68 -455 -30 -197 -56 -354 -60 -350 -3 4 -36 187 -73 407 -37
                        220 -72 421 -77 448 l-11 47 -429 0 -429 0 0 -1060z"/>
                        <path d="M8210 1650 l0 -1060 335 0 335 0 0 1060 0 1060 -335 0 -335 0 0
                        -1060z"/>
                        <path d="M9120 1650 l0 -1060 533 0 c658 0 747 9 854 82 56 38 87 80 115 158
                        22 62 23 78 23 340 0 266 -1 277 -24 334 -40 101 -112 164 -231 201 -30 10
                        -59 20 -63 22 -5 3 24 16 64 30 149 50 189 100 210 261 18 147 -6 321 -58 429
                        -34 69 -118 147 -199 185 -131 62 -309 78 -846 78 l-378 0 0 -1060z m789 667
                        c24 -8 41 -24 55 -52 18 -35 21 -56 20 -165 -3 -190 -23 -220 -151 -220 l-43
                        0 0 225 0 225 43 -1 c23 0 57 -5 76 -12z m11 -800 c22 -7 40 -23 48 -41 19
                        -38 28 -290 14 -380 -16 -97 -36 -117 -139 -131 l-53 -7 0 286 0 286 48 -1
                        c26 0 63 -5 82 -12z"/>
                        <path d="M10870 1650 l0 -1060 335 0 335 0 0 1060 0 1060 -335 0 -335 0 0
                        -1060z"/>
                        <path d="M11730 2490 l0 -220 215 0 c118 0 215 -4 215 -9 0 -5 -110 -312 -245
                        -682 l-245 -674 0 -157 0 -158 610 0 610 0 0 215 0 215 -240 0 c-132 0 -240 2
                        -240 5 0 3 108 287 240 632 l240 626 -2 211 -3 211 -577 3 -578 2 0 -220z"/>
                        <path d="M13121 1663 c-90 -577 -166 -1054 -169 -1061 -3 -10 67 -12 344 -10
                        l349 3 17 165 c9 91 17 173 17 183 1 15 13 17 111 17 61 0 110 -1 110 -2 0 -2
                        7 -77 15 -168 8 -91 15 -173 15 -182 0 -17 23 -18 340 -18 320 0 340 1 340 18
                        0 16 -353 2028 -365 2080 l-5 22 -478 0 -477 0 -164 -1047z m694 231 c26 -243
                        51 -453 61 -511 l6 -33 -101 0 -101 0 0 33 c1 64 99 761 106 754 2 -2 15 -111
                        29 -243z"/>
                        <path d="M15260 1650 l0 -1060 295 0 295 0 2 625 3 625 104 -608 c58 -334 106
                        -615 109 -624 4 -16 23 -18 212 -18 189 0 208 2 212 17 3 10 49 298 104 641
                        l99 623 3 -640 2 -641 295 0 295 0 0 1060 0 1060 -434 0 -433 0 -16 -97 c-8
                        -54 -39 -259 -68 -455 -30 -197 -56 -354 -60 -350 -3 4 -36 187 -73 407 -37
                        220 -72 421 -77 448 l-11 47 -429 0 -429 0 0 -1060z"/>
                        <path d="M17540 1650 l0 -1060 575 0 575 0 0 215 0 215 -240 0 -240 0 0 225 0
                        225 205 0 205 0 0 210 0 210 -205 0 -205 0 0 190 0 190 215 0 215 0 0 220 0
                        220 -550 0 -550 0 0 -1060z"/>
                        <path d="M18700 2490 l0 -220 195 0 195 0 0 -840 0 -840 330 0 330 0 0 840 0
                        840 195 0 195 0 0 220 0 220 -720 0 -720 0 0 -220z"/>
                        <path d="M20161 1663 c-90 -577 -166 -1054 -169 -1061 -3 -10 67 -12 344 -10
                        l349 3 17 165 c9 91 17 173 17 183 1 15 13 17 111 17 61 0 110 -1 110 -2 0 -2
                        7 -77 15 -168 8 -91 15 -173 15 -182 0 -17 23 -18 340 -18 320 0 340 1 340 18
                        0 16 -353 2028 -365 2080 l-5 22 -478 0 -477 0 -164 -1047z m694 231 c26 -243
                        51 -453 61 -511 l6 -33 -101 0 -101 0 0 33 c1 64 99 761 106 754 2 -2 15 -111
                        29 -243z"/>
                        <path d="M21750 1650 l0 -1060 530 0 530 0 0 215 0 215 -195 0 -195 0 0 845 0
                        845 -335 0 -335 0 0 -1060z"/>
                      </g>
                    </svg>
                  </div>
                  <div id="aniversary_2" class="intro_layer intro_div" data-animation="fadeInUp">
                    <svg width="150px" viewBox="0 0 200 180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                     <!-- Generated by Pixelmator Pro 2.1.1 -->
                     <g id="group">
                      <path id="Path" d="M124.376 173.964 C171.297 160.305 198.261 111.197 184.604 64.278 170.946 17.358 121.84 -9.608 74.919 4.05 27.999 17.707 1.033 66.815 14.69 113.734 28.346 160.655 77.454 187.62 124.376 173.964" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-1" d="M129.828 165.533 C167.797 150.61 189.307 109.709 179.605 69.69" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-2" d="M176.173 58.826 C161.249 20.856 120.349 -0.654 80.33 9.047" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-3" d="M69.466 12.48 C31.497 27.404 9.987 68.304 19.688 108.323" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-4" d="M23.12 119.186 C38.043 157.156 78.944 178.665 118.963 168.965" fill="none" stroke="#f2ebb8" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                     </g>
                     <path id="Path-5" d="M90.293 22.845 L83.011 31.853 72.032 28.16 67.583 38.853 56.008 38.404 54.752 49.918 43.52 52.748 45.559 64.151 35.578 70.03 40.747 80.396 32.827 88.849 40.708 97.339 35.49 107.68 45.442 113.606 43.35 124.999 54.569 127.881 55.77 139.401 67.346 139.006 71.745 149.721 82.743 146.079 89.981 155.122 99.506 148.532 109 155.167 116.282 146.158 127.261 149.852 131.71 139.158 143.285 139.608 144.541 128.093 155.774 125.264 153.734 113.861 163.715 107.981 158.545 97.616 166.466 89.164 158.586 80.673 163.803 70.332 153.851 64.405 155.944 53.014 144.724 50.131 143.524 38.611 131.946 39.006 127.548 28.291 116.551 31.932 109.312 22.89 99.786 29.481 Z" fill="#f2ebb8" fill-opacity="1" stroke="none"/>
                     <g id="group-1">
                      <path id="Path-6" d="M112.69 133.818 C137.44 126.615 151.663 100.712 144.459 75.962 137.255 51.213 111.353 36.99 86.603 44.193 61.855 51.397 47.631 77.3 54.835 102.05 62.039 126.798 87.942 141.022 112.69 133.818" fill="#526672" fill-opacity="1" stroke="none"/>
                     </g>
                     <g id="group-2">
                      <path id="Path-7" d="M21.806 141.299 L5.902 86.651 177.531 36.7 193.436 91.348 Z" fill="#f2ebb8" fill-opacity="1" stroke="none"/>
                      <path id="Path-8" d="M21.806 141.299 L5.902 86.651 177.531 36.7 193.436 91.348 Z" fill="none" stroke="#526672" stroke-width="3.765" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                     </g>
                     <g id="group-3">
                      <path id="Path-9" d="M173.942 91.304 C172.673 132.336 138.381 164.57 97.35 163.301 56.318 162.032 24.084 127.741 25.353 86.709 26.622 45.677 60.913 13.443 101.945 14.712 142.976 15.981 175.211 50.272 173.942 91.304 Z" fill="none" stroke="#f2ebb8" stroke-width="2.766" stroke-opacity="1" stroke-linejoin="round" stroke-linecap="round"/>
                      <path id="Path-10" d="M78.999 106.069 C79.553 107.974 79.797 109.232 79.732 109.84 79.666 110.448 79.273 110.858 78.553 111.068 77.833 111.277 77.298 111.182 76.946 110.781 76.595 110.38 76.091 109.051 75.435 106.795 L69.915 87.832 C69.333 85.832 69.077 84.522 69.149 83.902 69.22 83.283 69.616 82.868 70.336 82.659 71.072 82.446 71.616 82.569 71.968 83.03 72.319 83.492 72.795 84.755 73.395 86.819 Z M81.726 80.957 C81.039 79.7 80.124 78.655 78.98 77.824 77.835 76.996 76.315 76.452 74.418 76.199 72.521 75.943 70.508 76.126 68.38 76.744 65.772 77.503 63.708 78.686 62.188 80.29 60.667 81.895 59.858 83.677 59.758 85.632 59.66 87.588 60.13 90.351 61.168 93.917 L65.116 107.48 C65.912 110.217 66.685 112.157 67.435 113.301 68.185 114.446 69.181 115.453 70.424 116.324 71.666 117.195 73.134 117.675 74.826 117.763 76.518 117.852 78.524 117.56 80.844 116.885 82.605 116.372 84.122 115.652 85.398 114.726 86.673 113.798 87.645 112.606 88.312 111.143 88.981 109.683 89.279 108.233 89.208 106.795 89.137 105.357 88.673 103.167 87.816 100.223 L84.043 87.261 C83.186 84.316 82.414 82.215 81.726 80.957 M31.32 88.338 L36.614 108.042 46.215 105.248 C45.884 104.112 45.717 103.375 45.714 103.038 45.711 102.701 45.822 102.352 46.047 101.99 46.271 101.63 46.608 101.384 47.056 101.254 47.76 101.047 48.342 101.165 48.799 101.606 49.257 102.045 49.698 102.993 50.122 104.449 L52.364 112.154 C53.12 114.868 53.536 116.405 53.615 116.763 53.693 117.122 53.629 117.497 53.421 117.886 53.213 118.277 52.87 118.542 52.39 118.682 51.349 118.985 50.588 118.633 50.105 117.629 49.621 116.624 49.014 114.865 48.282 112.353 L47.577 109.929 37.88 112.751 38.495 114.865 C39.547 118.481 40.725 121.037 42.028 122.532 43.331 124.027 45.062 124.934 47.22 125.251 49.378 125.569 51.705 125.366 54.201 124.64 56.425 123.991 58.225 123.151 59.6 122.117 60.973 121.083 61.933 119.894 62.478 118.546 63.023 117.199 63.24 115.842 63.129 114.476 63.019 113.112 62.562 111.053 61.762 108.301 L60.147 102.755 C58.908 98.499 57.387 95.823 55.583 94.724 53.779 93.626 51.541 93.466 48.869 94.243 46.501 94.934 44.823 96.385 43.836 98.6 L41.915 91.998 53.94 88.498 52.131 82.282 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-11" d="M157.712 58.935 C157.205 57.193 156.677 56.01 156.129 55.381 155.58 54.754 154.713 54.353 153.532 54.177 152.35 54.003 151.021 54.131 149.541 54.561 148.188 54.957 147.097 55.51 146.267 56.227 145.438 56.942 144.922 57.75 144.72 58.651 144.517 59.552 144.66 60.84 145.149 62.519 145.487 63.682 145.917 64.596 146.437 65.255 146.956 65.917 147.509 66.392 148.092 66.682 148.676 66.972 149.812 67.38 151.501 67.906 153.187 68.423 154.269 68.827 154.746 69.118 155.213 69.413 155.635 70.206 156.009 71.496 156.179 72.083 156.216 72.551 156.118 72.901 156.019 73.254 155.782 73.484 155.403 73.595 155.023 73.705 154.725 73.666 154.509 73.473 154.291 73.282 154.063 72.776 153.825 71.955 L153.05 69.289 147.759 70.829 148.177 72.264 C148.654 73.905 149.191 75.124 149.786 75.919 150.377 76.715 151.298 77.244 152.545 77.508 153.79 77.773 155.176 77.683 156.7 77.239 158.089 76.835 159.235 76.23 160.135 75.425 161.037 74.619 161.561 73.794 161.711 72.947 161.861 72.102 161.71 70.898 161.256 69.338 160.632 67.191 159.848 65.73 158.91 64.957 157.971 64.184 156.013 63.414 153.039 62.646 152.004 62.381 151.337 62.089 151.04 61.774 150.736 61.463 150.476 60.941 150.263 60.209 150.098 59.641 150.064 59.191 150.158 58.859 150.252 58.528 150.47 58.312 150.813 58.213 151.128 58.12 151.385 58.159 151.581 58.327 151.775 58.495 151.984 58.958 152.205 59.716 L152.677 61.339 157.968 59.8 Z M137.373 75.628 C137.749 76.918 137.932 77.751 137.923 78.124 137.915 78.499 137.717 78.742 137.33 78.855 136.95 78.966 136.666 78.887 136.476 78.62 136.285 78.352 136.005 77.583 135.635 76.311 L132.658 66.081 C132.33 64.953 132.21 64.252 132.301 63.976 132.392 63.7 132.587 63.519 132.885 63.432 133.236 63.331 133.509 63.404 133.704 63.655 133.899 63.906 134.147 64.542 134.443 65.561 Z M141.143 67.353 C140.486 65.098 139.974 63.536 139.602 62.664 139.231 61.793 138.651 61.058 137.858 60.456 137.065 59.855 136.148 59.5 135.103 59.387 134.058 59.276 132.95 59.39 131.776 59.732 130.54 60.091 129.517 60.609 128.706 61.286 127.895 61.962 127.327 62.759 127.001 63.675 126.676 64.591 126.594 65.522 126.758 66.469 126.921 67.413 127.322 68.987 127.963 71.188 L129.055 74.937 C129.712 77.192 130.225 78.755 130.596 79.626 130.966 80.497 131.548 81.232 132.34 81.834 133.131 82.434 134.049 82.791 135.095 82.903 136.14 83.015 137.249 82.9 138.42 82.558 139.657 82.199 140.679 81.68 141.49 81.004 142.302 80.329 142.87 79.531 143.196 78.616 143.52 77.699 143.601 76.768 143.439 75.822 143.276 74.875 142.873 73.303 142.232 71.1 Z M115.62 59.709 C115.614 60.592 115.235 61.141 114.487 61.36 114.234 61.433 113.719 61.441 112.939 61.384 L112.011 61.317 C111.16 61.251 110.41 61.313 109.762 61.502 108.517 61.864 107.653 63.063 107.171 65.097 L109.731 65.9 C109.901 64.873 110.319 64.262 110.986 64.067 111.301 63.975 111.818 63.968 112.534 64.043 L113.649 64.143 C114.473 64.226 115.207 64.174 115.846 63.987 116.308 63.854 116.785 63.518 117.284 62.98 117.783 62.442 118.106 61.657 118.255 60.622 Z M115.094 65.087 L117.966 74.951 111.902 66.016 107.138 67.403 113.514 89.309 118.277 87.924 115.378 77.965 121.242 87.061 126.233 85.608 119.858 63.701 Z M98.692 85.139 C98.276 83.157 97.748 79.984 97.108 75.62 98.461 79.188 99.642 82.172 100.654 84.569 Z M91.339 72.002 L94.809 94.755 100.699 93.04 99.895 89.003 101.933 88.41 103.384 92.26 109.207 90.565 99.573 69.606 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                      <path id="Path-12" d="M161.518 89.131 C161.31 88.14 161.045 86.553 160.726 84.372 161.402 86.156 161.994 87.647 162.498 88.846 Z M157.841 82.562 L159.576 93.937 162.521 93.081 162.119 91.063 163.138 90.766 163.864 92.689 166.775 91.842 161.958 81.363 Z M153.043 83.959 L156.231 94.912 159.078 94.083 155.89 83.129 Z M153.105 87.984 C152.809 86.962 152.504 86.235 152.191 85.8 151.879 85.365 151.402 85.066 150.762 84.901 150.122 84.735 149.383 84.775 148.544 85.02 147.926 85.198 147.41 85.463 146.995 85.812 146.58 86.159 146.291 86.556 146.129 86.999 145.969 87.443 145.917 87.869 145.979 88.28 146.038 88.69 146.184 89.29 146.413 90.08 L147.345 93.28 C147.659 94.352 147.979 95.131 148.311 95.615 148.642 96.098 149.123 96.411 149.752 96.556 150.383 96.7 151.112 96.652 151.947 96.409 152.75 96.174 153.374 95.801 153.818 95.284 154.262 94.767 154.495 94.248 154.516 93.728 154.54 93.207 154.384 92.379 154.054 91.245 L153.93 90.818 151.083 91.648 151.484 93.024 C151.657 93.626 151.736 94.017 151.719 94.199 151.7 94.381 151.586 94.503 151.374 94.563 151.153 94.628 150.986 94.588 150.877 94.444 150.766 94.3 150.632 93.962 150.479 93.43 L148.997 88.342 C148.835 87.787 148.762 87.417 148.776 87.232 148.792 87.046 148.916 86.919 149.15 86.851 149.356 86.791 149.512 86.82 149.613 86.939 149.713 87.059 149.845 87.395 150.006 87.949 L150.56 89.853 153.408 89.024 Z M141.846 87.217 L143.281 92.15 140.248 87.683 137.867 88.376 141.056 99.329 143.437 98.636 141.987 93.657 144.917 98.205 147.414 97.477 144.226 86.523 Z M135.298 101.005 L140.238 99.567 139.599 97.375 137.51 97.984 136.808 95.575 138.589 95.057 137.981 92.973 136.202 93.492 135.597 91.415 137.498 90.861 136.861 88.67 132.111 90.052 Z M128.119 91.213 L131.305 102.167 134.153 101.338 130.966 90.383 Z M124.777 94.395 C124.932 94.468 125.059 94.677 125.161 95.024 L125.336 95.627 C125.476 96.11 125.496 96.413 125.392 96.538 125.288 96.664 125.077 96.773 124.757 96.866 L124.048 94.431 C124.378 94.335 124.621 94.323 124.777 94.395 M123.844 104.338 L126.691 103.509 125.254 98.57 C125.647 98.456 125.909 98.455 126.042 98.568 126.176 98.681 126.327 99.031 126.498 99.617 L127.557 103.257 130.202 102.485 129.361 99.598 C129.103 98.714 128.924 98.181 128.818 97.999 128.715 97.815 128.53 97.635 128.269 97.457 128.007 97.279 127.573 97.203 126.968 97.228 127.574 96.988 127.94 96.691 128.066 96.334 128.192 95.981 128.132 95.376 127.884 94.524 127.612 93.59 127.264 92.954 126.84 92.615 126.415 92.277 125.951 92.124 125.445 92.158 124.939 92.194 124.014 92.406 122.67 92.798 L120.654 93.385 Z M118.086 106.015 L123.025 104.578 122.388 102.385 120.297 102.994 119.597 100.586 121.377 100.067 120.77 97.984 118.99 98.502 118.386 96.424 120.287 95.871 119.648 93.679 114.899 95.061 Z M112.115 98.087 C112.267 98.166 112.395 98.392 112.505 98.767 L112.766 99.667 C112.884 100.073 112.913 100.356 112.848 100.514 112.783 100.672 112.62 100.789 112.359 100.865 112.299 100.882 112.229 100.9 112.146 100.92 L111.336 98.132 C111.706 98.024 111.967 98.008 112.115 98.087 M111.131 108.04 L113.978 107.21 112.695 102.799 113.459 102.577 C114.081 102.395 114.561 102.163 114.897 101.879 115.232 101.595 115.427 101.273 115.477 100.911 115.529 100.549 115.451 100.017 115.249 99.319 L114.971 98.366 C114.771 97.679 114.588 97.184 114.417 96.878 114.246 96.572 114.024 96.336 113.748 96.168 113.472 95.998 113.107 95.914 112.653 95.914 112.201 95.913 111.587 96.026 110.811 96.252 L107.942 97.087 Z M104.644 98.045 L104.905 101.213 C104.699 100.782 104.458 100.317 104.182 99.815 103.829 99.156 103.584 98.682 103.447 98.394 L100.693 99.196 103.136 103.738 103.88 110.15 106.654 109.342 106.402 107.479 C106.305 106.665 106.191 105.902 106.06 105.185 106.779 106.678 107.455 107.925 108.089 108.925 L110.727 108.157 107.44 102.487 107.031 97.352 Z M98.689 111.661 L103.628 110.223 102.991 108.03 100.9 108.64 100.2 106.23 101.979 105.714 101.372 103.63 99.593 104.147 98.989 102.069 100.89 101.517 100.251 99.325 95.503 100.706 Z" fill="#526672" fill-opacity="1" stroke="none"/>
                     </g>
                    </svg>
                  </div>
                  <div class="intro_layer intro_div" data-animation="fadeInUp">
                    <h2 style="font-size: 2.5rem;" class="intro_before_featured_word">
                      Completamos proyectos a tiempo
                    </h2>
                  </div>
                </div>
                <!-- eof .intro_layers -->
              </div>
              <!-- eof .intro_layers_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container-fluid -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>
