<section class="ds s-pt-75 s-pb-20 s-pt-lg-100 s-pb-lg-30 c-gutter-60 c-mb-50 c-mb-md-60 service-icon" id="services">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%#= image_tag "icon-01.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Carpintería y estructuras metálicas</a>
          </h5>

          <p>
            Somos soldadores homologados según la normativa ISO 9606-1 (fotos de nuestros trabajos en  carpintería metálica y estructuras
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%#= image_tag "icon-02.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Acero inox</a>
          </h5>

          <p>
            Fabricamos todo tipo de trabajos en acero inox 316 pulido y sin pulir . Barandillas , rejas , productos en a. inox marino  para embarcaciones , etc
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%#= image_tag "icon-03.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Carpintería de aluminio y cristaleria</a>
          </h5>

          <p>
            From project initiation until final signoff, you’ll have dedicated, real people that make service our top priority.
          </p>


        </div>
      </div>
      <!-- .col-* -->
      <div class="col-12 col-md-6 col-lg-3 animate" data-animation="fadeInUp">

        <div class="icon-box text-center">
          <%#= image_tag "icon-04.png", alt: "alttext" %>

          <h5>
            <a href="service-single.html">Cortinas de  cristal LUMON</a>
          </h5>

          <p>
            In every cut and angle, materials match project specs to ensure adherence timelines and sequencing.
          </p>


        </div>
      </div>
      <!-- .col-* -->

      <div class="d-none d-lg-block divider-25"></div>

    </div>
  </div>
</section>
