<%= render 'breadcrumbs' %>

 <section class="ds ms s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder">
  <div class="cover-image s-cover-right"></div>
  <!-- half image background element -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <%= cl_image_tag "christopher-burns-8KfCR12oeUM-unsplash_aapbdm", height: 480, width: 480, crop: "fill" %>
        <!-- half image source -->
      </div>
      <div class="col-md-6 order-md-1">
        <div class="item-content">
          <h2>
            RGM Ibiza Metal
          </h2>

          <p class="small-text color-main">

          </p>
          <p>
            <strong style="color: #f9a34f;">EMPRESA FAMILIAR CON MAS DE 50 AÑOS DE EXPERIENCIA</strong> . Nos hemos ido adaptando a las necesidades de nuestro mercado sin perder la fabricación artesanal a medida de toda la vida. Si necesitas <strong style="color: #f9a34f">asesoramiento y realizar un trabajo a tu gusto</strong> que se adapte a lo que realmente necesitas, ésta es tu empresa para realizar tu proyecto o idea. Somos un equipo de 3 personas formadas bajo la supervisión de un gran profesional del sector metalúrgico y carpintería metálica. A sus espaldas hay proyectos realizados en nuestra querida isla de ibiza, tales como estación marítima de formentera, muro cristal de la policía nacional, columnas de acero del diario de ibiza, recinto ferial  y un largo etc… <strong style="color: #f9a34f;">Nuestro compromiso y transparencia</strong> con el cliente es la base de la relación que ofrecemos a nuestros clientes . Al trabajar de manera <strong style="color: #f9a34f;">artesanal  a medida</strong>, los tiempos de ejecución no son cortos pero el resultado es artesano y profesional. Además <strong style="color: #f9a34f;">ofrecemos servicio postventa</strong>, algo muy poco frecuente. <%= link_to "Contacta", contact_path %>  con nosotros sin compromiso y te asesoraremos de la mejor forma dando opciones a tus proyectos . Contamos en el equipo con un interiorista y paisajista para poder dar mayor cobertura  y atención .

          </p>
          <div class="media-item">
            <img src="images/signature.png" alt="">

          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block divider-10"></div>
  </div>
</section>

<%= render 'services' %>
