<section class="page_title ds s-pt-100 s-pb-50 s-pt-md-75 s-pb-md-25 breadcrumbs">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-90"></div>

      <div class="col-md-12 text-center">
        <h1>Gallery Single 1</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="./">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Pages</a>
          </li>
          <li class="breadcrumb-item active">
            Gallery Single 1
          </li>
        </ol>
      </div>

      <div class="d-none d-lg-block divider-15"></div>

    </div>
  </div>
</section>


<section class="ds s-py-75 s-py-lg-50">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>

      <div class="col-lg-10 offset-lg-1">

        <div class="vertical-item content-padding hero-bg text-center">
          <div class="item-media">
            <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
              <a href="images/gallery/04.jpg" class="photoswipe-link" data-width="1170" data-height="780">
                <img src="images/gallery/04.jpg" alt="">
              </a>
              <a href="images/gallery/05.jpg" class="photoswipe-link" data-width="1170" data-height="780" data-iframe="https://www.youtube.com/embed/mcixldqDIEQ">
                <img src="images/gallery/05.jpg" alt="">
              </a>
              <a href="images/gallery/06.jpg" class="photoswipe-link" data-width="1170" data-height="780" data-iframe="//player.vimeo.com/video/1084537">
                <img src="images/gallery/06.jpg" alt="">
              </a>
              <a href="images/gallery/07.jpg" class="photoswipe-link" data-width="1170" data-height="780">
                <img src="images/gallery/07.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="item-content">
            <h3>
              Lorem Ipsum Dolor
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam atque beatae, fugit iste iure minima molestias nemo numquam pariatur provident quasi quos reiciendis sint sunt unde velit voluptatibus. Ab accusamus, aliquam consequatur
              optio porro quos sequi sit tempora tempore tenetur, velit vitae, voluptatum.
            </p>
            <div class="social-icons">
              <a href="#" class="fa fa-facebook " title="facebook"></a>
              <a href="#" class="fa fa-twitter " title="twitter"></a>
              <a href="#" class="fa fa-instagram " title="instagram"></a>
            </div>
          </div>
        </div>

      </div>

      <div class="d-none d-lg-block divider-70"></div>
    </div>

  </div>
</section>
