<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "barandilla_escalera_cristal_w8wutb", width: 500 %>
        <p>Barandilla de cristal biselado y accesorios en acero inox. La escalera <br> con chapa de espesor a medida</p>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Estructuras metálicas</h3>
          <p>
            Fabricamos todo tipo de trabajos en acero metal barandillas , rejas, puertas garajes , productos en acero inoxidable pulido y sin pulir. También trabajamos para empresas constructoras realizando los pilares y placas de anclaje para las bases y estructuras de los edificios.
          </p>
          <ul class="list-styled">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
        <p class="after-content">
        </p>
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
