<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "welding-67640_yvtwll", width: 500 %>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Soldadores</h3>
          <p>
            Contamos con la homologación en soldadura según la normativa ISO 9606-1 . Trabajamos diferentes tipos de soldadura con electrodos, con hilo mic-mac según la tipología de los materiales y el uso para el que estén destinados.
          </p>
          <ul class="list-styled">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
        <p class="after-content">
        </p>
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
