<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "marvin-meyer-bfOQSDwEFg4-unsplash_wke7gg", width: 500 %>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Carpintería de aluminio y cristaleria</h3>
          <p>
            Hacemos producción a media con diferentes perfiles de aluminio
            Adaptándonos a las necesidades del cliente. Cristales de cámara climalit con diferentes acabados en función del espacio donde se van a ubicar los cristales.
            Mallorquinas, compactos... Pídanos presupuesto sin compromiso.
          </p>
          <ul class="list-styled">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
        <p class="after-content">
        </p>
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
