<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "cerramientos_lumon_terraza_wpjtdo", width: 600 %>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Cortinas de cristal LUMON</h3>
          <p>
            Fabricación a medida de cerramientos con cortina de cristal máxima visual del espacio puesto que solo leva perfil de aluminio en la parte superior e inferior el resto queda libre . Espacio libre visual sin obras. Trabajamos en colaboración con la empresa finlandesa LUMON con sede filial en ESPAÑA.
          </p>
          <ul class="list-styled">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
