<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "20180613_112016_orvmma", width: 450 %>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Estructuras metálicas</h3>
          <p>
            Ham pastrami kielbasa ribeye. Corned beef kevin venison flank, salami jerky meatball ribeye capicola pork belly kielbasa andouille sausage beef. Bresaola beef ribs spare ribs, doner biltong ground round sausage. Rump short ribs chicken, sausage tri-tip
            pastrami picanha cupim pork leberkas beef jerky pig.
          </p>
          <ul class="list-styled">
            <li>
              Ground round leberkas beef pork
            </li>
            <li>
              Belly drumstick tongue flank spare
            </li>
            <li>
              Ribs ham porchetta meat rump
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
        <p class="after-content">
          Meatball turducken pork belly cow pastrami pig. Tenderloin beef ribs beef flank pork chop ham pig brisket tongue. Jowl porchetta beef ribs kevin. Biltong venison flank brisket salami bacon capicola shank turkey kielbasa short ribs pig pastrami tenderloin
          alcatra. Shoulder flank alcatra pork chop jowl. Filet mignon spare ribs doner jerky tenderloin prosciutto tri-tip venison meatloaf ham hock pancetta cupim hamburger.Chuck beef ribs picanha pork. Andouille alcatra shoulder fatback cupim picanha.
          Sirloin turducken strip steak drumstick, t-bone ribeye beef ribs capicola prosciutto shank. Boudin biltong pork loin, strip steak bresaola short loin turkey cupim rump pork belly cow corned beef alcatra. Swine jerky ham kielbasa.
        </p>
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
