<%= render 'breadcrumbs' %>

<section class="ds s-py-50 c-gutter-60 single-service">
  <div class="container">
    <div class="row">

      <div class="d-none d-lg-block divider-70"></div>


      <div class="col-lg-6 animate" data-animation="fadeInLeft">
        <%= cl_image_tag "estructura_mesa_porche_casa_campo_tpbwhm", width: 600 %>
      </div>
      <!-- .col-* -->
      <div class="col-lg-6 animate" data-animation="fadeInRight">
        <div class="item-content">
          <h3>Mobiliario</h3>
          <p>
            Fabricamos a medida todo tipo de muebles o detalles ornamentales estéticos en metal. Presentanos tu idea y te asesoramos, contamos en el equipo con profesional de interiorismo y paisajismo.
          </p>
          <ul class="list-styled">
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 animate" data-animation="fadeInUp">
        <p class="after-content">
        </p>
      </div>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
