// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "scss/bootstrap.addons";
@import "scss/main";
@import "scss/shop";

// Your CSS partials
@import "components/index";
@import "pages/index";
