// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap.addons";
@import "main";
@import "shop";
@import "shop2";
@import "shop3";
@import "animations";

// Your CSS partials
@import "components/index";
@import "pages/index";
